PAUSE_BIG RCData "Data\\Pause_Big.ico"
COMPOSING_SMALL RCData "Data\\Composing_Small.ico"
COMPOSING_BIG RCData "Data\\Composing_Big.ico"
PAUSE RCData "Data\\Pause.png"
COMPOSING RCData "Data\\Composing.png"
PAUSE_SMALL RCData "Data\\Pause_Small.ico"
STAYONTOP_ON RCData "Data\\StayOnTopOn.png"
STAYONTOP_OFF RCData "Data\\StayOnTopOff.png"
CLOSEDTABS RCData "Data\\ClosedTabsButton.png"
UNSENTMSG RCData "Data\\UnsentMsg.png"
