CLOSEDTABS RCDATA "Data\\ClosedTabsButton.png"
COMPOSING RCDATA "Data\\Composing.png"
COMPOSING_BIG RCDATA "Data\\Composing_Big.ico"
COMPOSING_SMALL RCDATA "Data\\Composing_Small.ico"
FASTACCESS RCDATA "Data\\FastAccess.png"
PAUSE RCDATA "Data\\Pause.png"
PAUSE_BIG RCDATA "Data\\Pause_Big.ico"
PAUSE_SMALL RCDATA "Data\\Pause_Small.ico"
STAYONTOP_OFF RCDATA "Data\\StayOnTopOff.png"
STAYONTOP_ON RCDATA "Data\\StayOnTopOn.png"
PLUGIN_RES RCDATA "Data\\TabKit.dll.png"
UNSENTMSGICO RCDATA "Data\\UnsentMsg.ico"
UNSENTMSG RCDATA "Data\\UnsentMsg.png"
